.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
    font-family: 'Fira Sans Condensed', sans-serif;

}

body > .container {
    padding: 60px 15px 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}


.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

button{
    width: 200px;
}

.alert-info{
    text-align: center;
}